body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #702963;
}

/* marquee {
    padding: 1rem;
    background-color: #eee;
} */

.banner {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #702963;
    background-color: #f9d4f2;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: solid 2px #702963;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;

}

h2 {
    color: #702963;
    text-align: left;
    grid-column: span 2;
}

article p {
    text-align: justify;
    padding: 0 50px 0 0;
}

.callout {
    color: white;
    background-color: #702963;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    grid-column: span 2;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}