:root {
    /* Colors */
    --primary-color: #46513E;
    --secondary-color: #E0E7DD;
    --accent-color: #6C865B;
    --background-color: #C3CFBD;
    --text-color: #201C21;
    --link-color: #F0F3EE;
    /* fonts */
    --font-family-body: 'Varela', sans-serif;
    --font-family-heading: 'Palyfair Display', serif;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family-body);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

nav a {
    color: var(--link-color);
    text-decoration: none;
    transition-duration: 0.5s;
}

nav a:hover {
    /* text-decoration: underline; */
    font-size: larger;
    padding: 10px 20px;
    background-color: var(--accent-color);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

nav a:visited {
    color: var(--link-color);
}

nav a:active {
    color: var(--accent-color);
}

header {
    background-color: var(--primary-color);
    color: var(--link-color);
    padding: 0;
    margin: 0;
    text-align: center;
}

header span {
    display: block;
    font-size: 2em;
    padding: 25px 0 10px 0;
    font-family: var(--font-family-heading);
}

nav {
    /* background-color: var(--accent-color); */
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

main {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    min-height: 100%;
    justify-content: center;
}

main div {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;

}

h1 {
    font-family: var(--font-family-heading);
    text-align: center;
    margin-top: 20px;
    transition-duration: 2s;
}

h2 {
    font-family: var(--font-family-heading);
    text-align: center;
    margin: 0 0 10px 0;
    padding: 20px 0;
    background-color: var(--primary-color);
    color: var(--link-color);
    border-radius: 10px 10px 0 0;
}

#yel {
    color: var(--accent-color);
    font-family: var(--font-family-heading);
    font-size: 1.5em;
}

#yel:hover {
    color: var(--primary-color);
    text-shadow: 2px 2px 5px var(--accent-color);    
    transition-duration: 1s;
}

.card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--accent-color);
    margin: 10px;
    padding: 0 0 20px 0;
}

.card p {
    padding: 20px;
    text-align: left;
}

main div .card:first-child {
    flex: 2 1 0%;
    min-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    align-items: start;
    gap: 20px;
}

main div .card:first-child h2 {
    grid-column: span 6;
}

main div .card:first-child h3 {
    text-align: center;
    width: 100%;
    margin: 0 auto 10px auto;
    padding: 20px 0;
    grid-row: 3/4;
    grid-column: span 6;
    font-family: var(--font-family-heading);
    background-color: var(--accent-color);
    color: var(--link-color);
}

#intro {
    grid-column: 1/4;
    grid-row: 2/3;
}

main div .card:nth-child(2) {
    flex: 1 1 0%;
    min-width: 150px;
}

section ul {
    list-style-type: circle;
}

section a {
    display: block;
    margin: 0 auto 20px auto;
    color: var(--text-color);
    transition-duration: 0;
    padding: 10px 0;
    text-decoration: none;
}

section li:hover {
    color: var(--accent-color);
    transition-duration: 0;
    transition: none;
    font-size: medium;
    padding:  0;
    text-decoration: underline;
    list-style-type: disc;
}

section a:visited {
    color: var(--primary-color);
}

#honey {
    grid-column: 4/7;
    width: 90%;
    height: auto;
}

#ormoc {
    grid-column: 1/3;
    width: 95%;
    height: auto;
}

#city {
    grid-column: 3/6;
    width: 100%;
    height: auto;
}

img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 20px;
    height: auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--link-color);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

#lastModified {
    font-size: 0.8em;
    color: var(--background-color);
    margin-top: 5px;
    text-align: center;
}



@media (max-width: 650px) {

    nav {
        background-color: var(--primary-color);
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }
}


@media (max-width: 850px) {
        main div {
            display: block;
        }
    
        main div .card:first-child {
            display: block;
        }
    
        main div .card:nth-child(2) {
            display: block;
        }

        .card p {
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
            margin: 0 auto 20px auto;
        }
    
    }