:root {
    /* color palette: https: //coolors.co/293241-3d5a80-98c1d9-c7e0ec-f5ffff */
    --primary-color: #3D5A80;
    --secondary-color: #98C1D9;
    --accent-color: #C7E0EC;
    --text-color: #293241;
    --light-color: #F5FFFF;

    font-family: "Roboto Condensed", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--light-color);
    text-align: center;
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--light-color);



}

fieldset {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin: 0 0 15px 0;
    padding: 10px;
    background-color: var(--accent-color);

}

legend {
    font-weight: bold;
    padding: 5px 0 0;
    color: var(--text-color);
    font-size: 1.1em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
    font-size: 1em;

}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: white;

}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.optional {
    font-weight: normal;
    font-style: italic;
    color: var(--text-color);
    font-size: 0.9em;
}

textarea {
    resize: vertical;
    min-height: 100px;
}


.rating-option {
    display: flex;
    align-items: center;
    gap: 1px;
    margin: 8px 0;
}

.rating-option input[type="radio"] {
    accent-color: var(--primary-color);
    transform: scale(1.2);
}

.rating-option label {
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.rating-option:hover label {
    color: var(--primary-color);
}

input[type="radio"]:checked+label {
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.2s ease;
    color: var(--primary-color);
}


footer {
    text-align: center;
    margin-top: 20px;
    color: var(--light-color);
    font-size: 0.9em;
}