:root {
    --primary-color: #3D5A80;
    --secondary-color: #98C1D9;
    --accent-color: #C7E0EC;
    --text-color: #293241;
    --light-color: #F5FFFF;

    --font-family: 'Arial', sans-serif;
    
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    padding: 5%;
}

main {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--light-color);
    margin: 0 auto;
}

h1 {
    color: var(--light-color);
    text-align: center;
    margin: 30px 0 0;
}

a {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: var(--secondary-color);
}

footer {
    text-align: center;
    margin-top: 20px;
    color: var(--light-color);
    font-size: 0.9em;
    
    

}